[submodule "NSIS"]
	path = NSIS
	url = https://github.com/SublimeText/NSIS.git
[submodule "NSIS-Sublime-Text-Addons"]
	path = NSIS-Sublime-Text-Addons
	url = https://github.com/idleberg/NSIS-Sublime-Text-Addons.git
[submodule "NSIS-Sublime-Text-Menu"]
	path = NSIS-Sublime-Text-Menu
	url = https://github.com/idleberg/NSIS-Sublime-Text-Menu
[submodule "Drunken-NSIS"]
	path = Drunken-NSIS
	url = https://github.com/idleberg/Drunken-NSIS.git
[submodule "NSIS-Language-File-Sublime-Text"]
	path = NSIS-Language-File-Sublime-Text
	url = https://github.com/idleberg/NSIS-Language-File-Sublime-Text.git
